body {
    margin: 0 !important;
    background-color: black !important;
    overflow: hidden;
    background-size: cover !important;
}
#page_text {
    position: absolute;
    z-index: 999;
}
#page_img {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}
#page_img_mobile {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}
@media screen and (max-width: 992px) {
    #page_img {
        display: none;
    }
    #page_img_mobile {
        display: block;
    }
}

#nxedn2i1ttirhhu1tba *, #page_text * {
    font-family: 'code_font', sans-serif !important;
}
#nxedn2i1ttirhhu1tba {
    height: 100vh;
    background-image: url(../img/mainBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#nxedn2i1ttirhhu1tba .row, #page_text .row {
    flex-direction: column;
}
#nxedn2i1ttirhhu1tba .row a {
    font-size: 1.5rem;
    border-radius: 10px;
}
#nxedn2i1ttirhhu1tba #form_root, #page_text #form_root {
    flex-direction: column;
    /* background-color: grey; */
    background-color: rgba(128, 128, 128, 0.7);
    height: 70vh;
    border-radius: 15px;
    margin-top: calc((30vh / 2) - 3rem);
    padding-left: 20px !important;
    padding-right: 20px !important;
    backdrop-filter: blur(5px);

    font-family: 'code_font', sans-serif !important;
    text-align: center;
    font-size: 3rem;
}
#page_text #form_root {
    height: 75vh;
    margin-top: calc((25vh / 2) - 3rem);
    font-size: 1.15rem !important;
}
@media screen and (max-width: 992px) {
    #nxedn2i1ttirhhu1tba {
        background-size: contain;
    }
    #nxedn2i1ttirhhu1tba #form_root, #page_text #form_root {
        height: 55vh;
        margin-top: calc((45vh / 2) - 3rem);
        font-size: 6vw;
    }
    #page_text #form_root {
        height: 75vh;
        margin-top: calc((25vh / 2) - 3rem);
        font-size: unset !important;
    }
    #nxedn2i1ttirhhu1tba .row a {
        font-size: 6vw;
    }
}
@font-face {
    font-family: 'code_font';
    /* src: url(../fonts/Cyberwar-Regular.ttf); */
    src: url('../fonts/code.woff2') format('woff2'),
    url('../fonts/code1.TTF') format('truetype');
}

#nxedn2i1ttirhhu1tba .col-25p {
    width: 25% !important;
}
#nxedn2i1ttirhhu1tba .col-75p {
    width: 75% !important;
}
@media screen and (max-width: 992px) {
    #nxedn2i1ttirhhu1tba .col-25p {
        width: 35% !important;
    }
    #nxedn2i1ttirhhu1tba .col-75p {
        width: 65% !important;
    }
}
#nxedn2i1ttirhhu1tba .inline-block {
    display: inline-block !important;
}
#nxedn2i1ttirhhu1tba .group_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3%;
}
#nxedn2i1ttirhhu1tba input, #nxedn2i1ttirhhu1tba select {
    color: black !important;
}

#nxedn2i1ttirhhu1tba .code_info {
    font-size: 2rem !important;
}
@media screen and (max-width: 992px) {
    #nxedn2i1ttirhhu1tba .code_info {
        font-size: 2rem !important;
    }
}
@media screen and (max-width: 767px) {
    #nxedn2i1ttirhhu1tba .code_info {
        font-size: 1.5rem !important;
    }
}