/* Global */
.hider {
    display: none !important;
}
/* Contact */
.member-info {
    text-align: center;
}

/* hero */
@font-face {
    font-family: "Cyberpunk";
    src: url(../fonts/Cyberwar-Regular.ttf) format("truetype");
}
#hero h1 {
    font-family: "Cyberpunk";
    letter-spacing: 0.5rem !important;
}

#hero {
    background: url("../img/hero-bg.png") top center;
    background-color: #000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
    #hero {
        background: url("../img/hero-bg-mobile.png") top center;
        background-size: cover;
    }
}

#hero:before {
    background-color: rgba(0, 0, 0, 0.35);
}