/* Global */
.hider {
    display: none !important;
}
@media screen and (min-width: 769px) {
    .mobile-br {
        display: none !important;
    }
}
/* Contact */
.member-info {
    text-align: center;
}
body {
    background-color: #000;
}
body *, h1, h2, h3, h4, h5, h6 {
    color: #fff !important;
}
hr {
    color: #000 !important;
}
.section-title h2::after {
    height: 2px !important;
    background-color: rgb(228, 51, 238);
}
.p-5 {
    padding: 1rem 3rem !important;
}
.contact .info i, .back-to-top{
    background: transparent;
    border: 2px solid rgb(112,239,239);
}

/* header */
.navbar .dropdown ul, .navbar-mobile ul {
    background-color: #000 !important;
}

/* hero */
@font-face {
    font-family: "Cyberpunk";
    src: url(../fonts/Cyberwar-Regular.ttf) format("truetype");
}
#hero h1 {
    font-family: "Cyberpunk";
    letter-spacing: 0.5rem !important;
}

#hero {
    background: url("../img/hero-bg.jpg") top center;
    background-color: #000 !important;
    background-size: contain;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
@media screen and (max-width: 768px) {
    #hero {
        background: url("../img/hero-bg-mobile.jpg") top center;
        background-size: 100%;
    }
}

#hero:before {
    background-color: rgba(0, 0, 0, 0.4);
}

/* portfolio */
#portfolio .filter-active , .navbar-mobile .active{
    color: #000 !important;
}

/* group.breadcrumb */
.breadcrumbs a {
    color: rgb(112,239,239) !important;
}