/* Global */
.hider {
    display: none !important;
}
@media screen and (min-width: 769px) {
    .mobile-br {
        display: none !important;
    }
}

/* Contact */
.member-info {
    text-align: center;
}
body {
    background-color: #000;
}
body *, h1, h2, h3, h4, h5, h6 {
    color: #fff !important;
}
hr {
    color: #000 !important;
}
.section-title h2::after {
    height: 2px !important;
    background-color: rgb(228, 51, 238);
}
.p-5 {
    padding: 1rem 3rem !important;
}
.contact .info i, .back-to-top{
    background: transparent;
    border: 2px solid rgb(112,239,239);
}

/* header */
.navbar .dropdown ul, .navbar-mobile ul {
    background-color: #000 !important;
}

/* hero */
@font-face {
    font-family: "Cyberpunk";
    src: url(../fonts/Cyberwar-Regular.ttf) format("truetype");
}


/* portfolio */
#portfolio .filter-active , .navbar-mobile .active{
    color: #000 !important;
}

/* group.breadcrumb */
.breadcrumbs a {
    color: rgb(112,239,239) !important;
}

/* sponsor slider */
.clients .swiper-slide img {
    opacity: 1 !important;
}
.clients .swiper-slide img:hover {
    transform: scale(1.3) !important;
}